
<h1>Dodaj swój Domek do naszej społeczności </h1>
<hr />

<div class="row>">
    <div class="col-md-6">
        <form action="/Cottage/Create" method="post"></form>

        <div class="from-group mb-3">
             <label for="Name" class="form-label">Nazwa Domku</label>
             <input type="text" class="form-control" id="Name" name="Name" required />
        </div>

        <div class="from-group mb-3">
            <label for="Description" class="form-label">Opis</label>
            <input type="text" class="form-control" id="Description" name="Description" required />
        </div>

        <div class="from-group mb-3">
            <label for="About" class="form-label">Szczegóły</label>
            <input type="text" class="form-control" id="About" name="About" required />
        </div>

     

        <div class="from-group mb-3">
            <label class="control-label" for="Price">Cena za dobę [zł]</label>
            <input class="from-control" type="text" id="Price" name="ContactDetails.Price" />              
        </div>


        <div class="from-group mb-3">
            <label class="control-label" for="Street">Adress</label>
            <input class="from-control" type="text" id="Street" name="ContactDetails.Street" />
        </div>

        <div class="from-group mb-3">
            <label class="control-label" for="City">Miasto</label>
            <input class="from-control" type="text" id="City" name="ContactDetails.City" />
        </div>

        <div class="from-group mb-3">
            <label class="control-label" for="PostalCode">Kod pocztowy</label>
            <input class="from-control" type="text" id="PostalCode" name="ContactDetails.PostalCode" />
        </div> 
        
        <div class="form-group mb-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
 
    </div>

</div>

