@{
    ViewData["Title"] = "Home Page";
}

<section class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2 class="mb-4">O nas</h2>
            <p>Nasze Domki to wyjątkowy kompleks wypoczynkowy położony w samym sercu Beskidu Śląskiego w malowniczym Ustroniu. Zlokalizowane u stóp Czantorii i Równicy, oferują kojący spokój oraz zapierające dech w piersiach górskie widoki, które w połączeniu z krystalicznym powietrzem gwarantują idealne warunki do pełnej regeneracji sił.</p>

            <div class="mt-4">
                <h3>Misja i Wizja</h3>
                <p><strong>Nasza Misja:</strong> Zapewnienie gościom domowej atmosfery w standardzie premium oraz stworzenie przestrzeni, w której natura spotyka się z najwyższym komfortem.</p>
                <p><strong>Nasza Wizja:</strong> Chcemy stać się najbardziej gościnnym zakątkiem w Beskidach, wyznaczając standardy w łączeniu lokalnej tradycji z nowoczesną architekturą i ekologicznymi rozwiązaniami.</p>
            </div>

            <div class="mt-4">
                <h3>Dlaczego Ustroń?</h3>
                <p>Wybór lokalizacji nie był przypadkowy – Ustroń to jedyne miasto w Beskidzie Śląskim o charakterze uzdrowiskowym. Bliskość szlaków turystycznych, tras narciarskich oraz rzeki Wisły sprawia, że nasze domki są idealną bazą wypadową zarówno dla miłośników aktywnego wypoczynku, jak i osób szukających wyciszenia.</p>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/image/logo1.png" class="img-fluid rounded shadow" alt="Nasze Domki - Logo" style="max-width: 80%;" />
        </div>
    </div>
</section>