@{
    ViewBag.Title = "Moja";
}
<div>
    <b>To jest b</b>
    <br />
    <u>To jest u</u>
    <br />
    <i>To jest i</i>
    <br />
    <h1> To jest h1</h1>
    <h2> To jest h2</h2>
    <h3> To jest h3</h3>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
    <ol>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ol>

</div>
